---
layout: default
---

<div class="home-top-section wave bottom">
  <div class="width">
    <div class="content">
      <div class="left">
        <h1>
          Answer more<br />
          Email Less
        </h1>
        <p>
          HelpHQ is a Shopify help center app built to increase customer satisfaction and
          reduce support email.
        </p>
        <a href="https://app.help-hq.com" class="button large white">Get Started</a>
      </div>

      <div class="right">
        <div class="video">
          <iframe width="100%" src="https://www.youtube.com/embed/rm0_kmwrCnM?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-features-section wave bottom">
  <div class="width">
    <header class="header-section">
      <h2>Why use HelpHQ</h2>
      <h3>Key Features</h3>
    </header>

    <div class="home-features">
      <div class="home-feature">
        <div class="icon user">{% include svg/user-sat.svg %}</div>
        <h4>User Satisfaction</h4>
        <p>
          Collect helpfulness feedback from users and easily discover which articles work and which
          dont.
        </p>
      </div>

      <div class="home-feature">
        <div class="icon eye">{% include svg/eye.svg %}</div>
        <h4>Instant Search</h4>
        <p>
          Users can easily find the answer they are looking for with our powerful instant search
          technology.
        </p>
      </div>

      <div class="home-feature">
        <div class="icon customize">{% include svg/customize.svg %}</div>
        <h4>Customizable</h4>
        <p>
          HelpHQ is built to be easily customizable and look great when plugged into any theme or
          design.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home-seamless wave reverse top">
  <div class="width">
    <header class="header-section on-dark">
      <h2>Seamless Integration</h2>
      <h3>Built for Shopify</h3>

      <p>
        HelpHQ was built to plug directly into your Shopify Store. Instantly build a beautiful help
        and support page that plugs directly into your theme.
      </p>
      <p></p>
    </header>

    <div class="image">
      <img src="{{ 'assets/dashboard.jpg' | relative_url }}" />
    </div>
  </div>
</div>

<div class="home-waiting wave reverse top darkblue">
  <div class="width">
    <h2>What are you waiting for?</h2>
    <a class="button" href="https://app.help-hq.com">Install Now</a>
  </div>
</div>
