.button {
  display: inline-block;
  padding: 0 25px;
  line-height: 50px;
  font-weight: 500;

  &.large {
    line-height: 54px;
    padding: 0 30px 0 10px;
    border-radius: 4px;
  }

  &.white {
    background: $white;
    color: $black;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
    margin: -2px 12px 0;
  }
}