.header-section {
  h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 14px;
    color: $primary;
  }

  h3 {
    font-size: 46px;
  }
}

.header-section.on-dark {
  h2 {
    color: $white;
    opacity: 0.7;
  }

  h3 {
    color: $white;
  }
}