.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30;
  height: 80px;
  display: flex;
  align-items: center;

  .width {
    display: flex;
    align-items: center;
  }

  .logo a {
    color: $white;
    font-size: 24px;
    font-weight: 700;
  }
}

.nav {
  margin-left: auto;
  display: inline-flex;
  align-items: center;

  li {
    display: block;
  }

  li + li {
    margin-left: 40px;
  }

  a {
    color: $white;
    font-weight: 500;
  }

  a.get-started {
    border: 1px solid #fff;
    display: block;
    padding: 5px 15px;
    border-radius: 4px;
  }
}