.doc-content {
  max-width: 660px;
  margin: 0 auto;
  color: #333;
  padding-bottom: 60px;

  @media (min-width: $largebp) {
    font-size: 18px;
  }

  p + p {
    margin-top: 25px;
  }

  h2 {
    font-size: 24px;
    color: #111;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  img {
    border: 1px solid #eee;
  }

  a {
    font-weight: 600;
    color: $primary;

    &:hover {
      text-decoration: underline;
    }
  }
}