// Colors
$white: #fff;
$black: #131313;
$text: #313131;
$primary: #006eff;
$mediumBlue: #102FA2;
$darkBlue: #1B1464;
$darkerBlue: #100c3f;

// fonts
$font: proxima-nova, serif;

// Breakpoints
$tinybp: 374px;
$smallbp: 500px;
$smbp: 640px;
$mediumbp: 800px;
$largebp: 960px;
$xlargebp: 1100px;

// Transitions
$fadeOffTransition: left 0s 0.15s, opacity 0.15s;
$fadeOnTransition: left 0s, opacity 0.15s;