.home-waiting {
  background: $darkerBlue;
  padding: 140px 0 80px 0;
  text-align: center;
  position: relative;

  .width {
    position: relative;
    z-index: 2;
  }

  h2 {
    color: $white;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 30px;

    @media (min-width: $largebp) {
      font-size: 36px;
    }
  }
}